<launch>
  <arg name="openrtm_args" value='-o "corba.nameservers:localhost:15005" -o "naming.formats:%n.rtc" ' />

  <!-- RTC SeqIn/SeqOut sample -->
  <node name="seqin"  pkg="openrtm_aist" type="SeqInComp" args='$(arg openrtm_args)' output="screen"/>
  <node name="seqout" pkg="openrtm_aist" type="SeqOutComp" args='$(arg openrtm_args)' output="screen"/>

  <!-- BEGIN:openrtm connection -->
  <node name="rtmlaunch_py" pkg="openrtm_tools" type="rtmlaunch.py"
        args="$(find sample_rtmlaunch)/launch/sample_rtmlaunch.launch" />
  <rtactivate component="SequenceInComponent0.rtc" />
  <rtactivate component="SequenceOutComponent0.rtc" />
  <rtconnect from="SequenceInComponent0.rtc:Long"     to="SequenceOutComponent0.rtc:Long" />
  <!-- END:openrtm connection -->
</launch>
