<launch>
  <!-- RTC SeqIn/SeqOut sample -->
  <node name="subscriber"  pkg="sample_io_rtc_python" type="subscriber.py" args='-o "corba.nameservers:localhost:15005" -o "naming.formats:%n.rtc"' output="screen"/>

  <!-- BEGIN:openrtm connection -->
  <node name="rtmlaunch_py" pkg="openrtm_tools" type="rtmlaunch.py"
        args="$(find sample_io_rtc_python)/launch/subscriber.launch" />
  <rtactivate component="Subscriber0.rtc" />
  <!-- END:openrtm connection -->
</launch>
